<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="TestComponents.Listeners"></listener>
    </listeners>
    <test name="Assignments">
        <classes>
            <class name="TestCases.TestAssignment1"/>
            <class name="TestCases.TestAssignment2"/>
            <class name="TestCases.TestAssignment3"/>
        </classes>
    </test> <!-- Test -->
</suite>